header{
    display: flex;
    justify-content: center;
    align-items: center;
}



#logo{
    display: block;
    max-width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
    scale: 1.5;
    margin-right: 100px;
}